.header {
  height: 92px;
  font-size: 16px;
  color: $black;
  line-height: 20px;
  padding-top: calc((92px - 46px) / 2);
  box-shadow: 0 1px 0 0 #f0f0f0;
  @extend %box-sizing;
  .container{
    height: 46px;
  }
  &__left,
  &__right {
    @extend %d-ib;
    @extend %v-t;
    height: inherit;
  }
  &__logo{
    @extend %d-ib;
    margin-right: 38px;
  }
  &__inner{
    @extend %v-center;
  }
}
.nav{
  &__item{
    @extend %d-ib;
    @extend %pointer;
    padding: 14px;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }
    &.-active{
      opacity: 1;
    }
  }
}
.humburger{
  display: none;
}
