.modal-wrapper
    .modal
        .container
            .modal-inner
                .modal__header
                    .modal__header-left
                        h2.modal__name
                        span.modal__state
                    .modal__header-right
                        .modal__value
                        .modal__image
                .modal__toggle-list
                    .modal__toggle
                .modal__body
    .modal-control-wrapper
        button.modal-control
        button.modal-control
